@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--roboto: 'Roboto', sans-serif;
	--inter: 'Inter', sans-serif;
	--black: #050038;
}

:root {
	--roboto: "Roboto", sans-serif;
	--inter: "Inter", sans-serif;
	--black: #050038
}

ul {
	list-style: none;
}

.header_card-teleport {
	text-decoration: none;
	color: var(--black);
}

a {
	text-decoration: none;
}

.header {
	margin-top: 50px;
}



.header_card {
	display: flex;
	column-gap: 150px;
	align-items: center;
}

.header_card_title {
	width: 118px;
	height: 42px;
	top: 35px;
	left: 299px;
	font-family: var(--roboto);
	font-weight: 500;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0%;

}

.header_card-types {
	width: 525px;
	height: 17px;
	top: 46px;
	left: 697px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	column-gap: 50px;
}

.header_card-sign {
	width: 54px;
	height: 21px;
	font-family: var(--roboto);
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	text-decoration: none;
	color: var(--black);

}

.header_card-free {
	padding: 16px 40px 16px 40px;
	border-radius: 30px;
	background-color: #0555FF;
	color: white;
	margin-left: 50px;
	text-decoration: none;
}

.header_cards-ul {
	display: flex;
	column-gap: 35px;
	margin-left: 70px;

}

.header_card-bigtitle {
	margin-top: 170px;
	width: 953px;
	height: 214px;
	font-family: var(--roboto);
	font-weight: 900;
	font-size: 96px;
	line-height: 120px;
	letter-spacing: 0%;
	text-align: center;
	margin: auto;

}

.header_card-text {
	width: 705px;
	height: 62px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: center;
	margin: auto;
	margin-top: 35px;

}

.header_card-card2 {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.header_card-discover {
	text-decoration: none;
	border-radius: 30px;
	/* border: 1px solid black;*/
	padding: 16px 30px 16px 30px;
	color: black;
	font-family: var(--inter);
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: middle;
	box-shadow: 0px 10px 40px 0px #B0C9FD4D;


}

.main {
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

.images-group {
	width: 100%;
	display: flex;
	gap: 0;
}

.left-img-border {
	width: 110;
	height: 539px;
	top: 773px;
	left: 343px;
	margin-right: 0;
}

.center-img-border {
	width: 960px;
	height: 706px;
	top: 692px;
	left: 477px;
	box-shadow: 0px 20px 70px 0px #8495b92b;
	margin-right: 0;
}

.right-img-border {
	width: 180.00003051757812px;
	height: 631.4359741210938px;
	top: 736px;
	left: 1453px;
}



.card {
	display: flex;
	width: 1266px;
	height: 564.343505859375px;
	transition: 0.5s;
	border: none;
}

.card:hover {
	border: 2px solid #0555ff;
}

.build-image {
	width: 656;
	height: 564.343505859375px;
	top: 3080px;
	left: 829px;
	margin-right: 120px;
}

.build-title {
	width: 174px;
	height: 91px;
	top: 3193px;
	left: 949px;
	font-family: var(--roboto);
	font-weight: 900;
	font-size: 72px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #050038;
	margin-bottom: 30px;
}

.build_text {
	width: 510px;
	height: 120px;
	top: 3314px;
	left: 952px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0%;
	color: #5b5e6d;
}

.build-link {
	width: 219px;
	height: 22px;
	top: 3474px;
	left: 949px;
	font-family: var(--inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #000000;
}

.up-date {
	margin-left: 5px;
}

.footer {
	width: 100%;
	height: 961px;
	top: 5784px;
	background: #130c3a;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

.elipes1 {
	width: 188.4134375072794;
	height: 188.4134375072794;
	top: 5872.97px;
	left: 212px;
	margin-left: 212px;
	margin-top: 22px;
	margin-right: 607.76px;
}

.elipes2 {
	width: 188.41343613281143px;
	height: 188.41343613281143px;
	top: 5877.41px;
	left: 1612.2px;
	margin-bottom: 55.8px;
}

.footer-title {
	width: 639px;
	height: 170px;
	top: 5934px;
	left: 641px;
	font-family: var(--roboto);
	font-weight: 900;
	font-size: 72px;
	line-height: 85px;
	letter-spacing: 0%;
	text-align: center;
	color: #ffffff;
	margin-left: 289px;
	margin-bottom: 40px;
}

form {
	width: 748px;
	height: 80px;
	top: 6144px;
	left: 587px;
	border-width: 1px;
	display: flex;
}

.footer-input {
	width: 528px;
	height: 80px;
	top: 6144px;
	left: 587px;
	border-width: 1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #ffffff80;
	background-color: #ffffff00;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: center;
	color: #c1c1c1;
	padding: 24px 30px;
	margin-left: 149px;
	margin-right: -155px;
}

.footer-btn {
	width: 221px;
	height: 80px;
	top: 6144px;
	left: 1114px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #0555ff;
	margin-left: 40px;
}



.award_title {
	width: 895px;
	height: 105px;
	top: 1888px;
	left: 514px;
	font-family: var(--roboto);
	font-weight: 700;
	font-size: 42px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-left: 50px;
	text-align: center;


}

.award_cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.award_text {
	text-align: center;
	margin-top: 50px;
	width: 778px;
	height: 90px;
	top: 2023px;
	left: 572px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0%;
	margin: auto;
	margin-bottom: 50px;
}

.award_link {
	width: 161px;
	height: 32px;
	top: 2172px;
	left: 898px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 15px;
	line-height: 32px;
	margin: auto;
	width: 245;
	padding: 10px 15px 10px 15px;
	height: 50;
	top: 2163px;
	left: 839px;
	color: #0555FF;
	background-color: #0555FF1A;
	text-decoration: none;
	margin-left: 290px;

}



.developer_cards {
	display: flex;
	justify-content: space-between;
}


.developer_title {
	margin-top: 57px;
	width: 280px;
	height: 91px;
	top: 2420px;
	left: 463px;
	font-family: var(--roboto);
	font-weight: 900;
	font-size: 72px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;

}

.Developer_text {
	margin-top: 50px;
	width: 510px;
	height: 120px;
	top: 2541px;
	left: 463px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0%;
	margin-bottom: 40px;
}



.developer_link {
	width: 219px;
	height: 22px;
	top: 2701px;
	left: 460px;
	font-family: var(--inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	text-decoration: none;
}



.developer_img {
	width: 658.4591064453125px;
	height: 566.4591064453125px;
	top: 2363px;
	left: 1093px;

}

.people {
	background-color: #F8F8FA;
}



.people_cards {
	display: flex;
	justify-content: space-around;

}

.people_mini_card {
	background-color: #ffffff;
	padding: 30px 20px 80px 30px;
	margin-top: 170px;
	border-radius: 20px;
}

.poeple_first_text {
	width: 664px;
	height: 24px;
	top: 4661px;
	left: 626px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0%;
	margin: auto;

}

.people_first_title {
	margin: auto;
	margin-top: 50px;
	width: 1013px;
	height: 64px;
	top: 4725px;
	left: 452px;
	font-family: var(--roboto);
	font-weight: 900;
	font-size: 72px;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: center;

}

.people_card {

	margin-bottom: 120px;
	
}



.people_title {
	width: 97px;

	top: 4879px;
	left: 374px;
	font-family: var(--inter);
	font-weight: 500px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;

}

.people_text {
	width: 360px;
	height: 117px;
	font-family: var(--inter);
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0%;
	

}